@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Nunito&family=Vollkorn:ital@1&display=swap");

body {
  margin: 0;
}

.payment {
  background-color: #f8f0e5;
  padding: 60px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}

#information {
  display: flex;
  gap: 20px;
}

.products-payment {
  padding: 20px 30px 15px 20px;
}

.product-payment {
  height: 112px;
  display: flex;
  border-bottom: 1px solid rgba(237, 224, 204, 1);
  margin-bottom: 10px;
}
.item-img {
  width: 20%;
  padding-right: 10px;
}

.product-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.infor-payment {
  background-color: #fefbf4;
  width: 750px;
  padding: 25px 25px 25px 25px;
  /* height: 500px; */
}

.infor-product-payment {
  width: 45%;
  background-color: #fefbf4;
  border-radius: 7px 7px 0 0;
  height: fit-content;
}

.infor-payment h4 {
  padding-left: 20px;
  font-family: "Nunito";
}

.infor-product-payment h4 {
  padding-left: 20px;
  font-family: "Nunito";
}
.quantity {
  display: flex;
}

.quantity-text {
  width: 64px;
  height: 32px;
  border-top: 1px solid rgba(237, 224, 204, 1);
  border-bottom: 1px solid rgba(237, 224, 204, 1);
  text-align: center;
  line-height: 28px;
}

.btn-quantity {
  outline: none;
  border: 1px solid rgba(237, 224, 204, 1);
  width: 32px;
  height: 32px;
  background-color: transparent;
}

.quantity-price {
  display: flex;
  justify-content: space-between;
}

.remove-product {
  padding-top: 20px;
}

.provisional {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.provisional-card {
  padding: 20px 30px 20px 15px;
}

hr {
  margin: 0 30px 0 15px !important;
  color: rgba(237, 224, 204, 1) !important;
  opacity: 1 !important;
}

.note {
  padding: 20px 30px 20px 15px;
  font-family: "Nunito";
  font-style: italic;
}

.order {
  padding: 20px 30px 20px 15px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 7px 7px;
}

.total p {
  font-family: "Nunito";
  margin-bottom: 0;
}
.total span {
  font-family: "Nunito";
  font-size: 1.875rem;
}
.btn-order {
  width: 200px;
  height: 75px;
  border-radius: 5px;
  border: 1px solid #e4d1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}






:root {
  --onyx: hsl(0, 0%, 25%);
  --azure: hsl(219,77%, 60%);
  --white: hsl(0, 0%, 100%);
  --platinum: hsl(0, 0%, 91%);
  --gainsboro: hsl(0, 0%, 90%);
  --red-salsa: hsl(0, 77%, 60%);
  --dim-gray: hsl(0, 0%, 39%);
  --davys-gray: hsl(0, 0%, 30%);
  --spanish-grah: hsl(0, 0%, 62%);
  --quick-sliver: hsl(0, 0%< 64%);

  /* Typography */
  --fs-28: 28px;
  --fs-24: 24px;
  --fs-18: 18px;
  --fs-15: 15px;
  --fs-14: 14px;

  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;

  /* Other */
  --px: 60px;
  --radius: 5px;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {font-family: 'Source Sans 3', sans-serif;}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}


ion-icon, span {display: inline-block;}

label, img {display: block;}

input {
  font: inherit;
  /* width: 100%; */
  border: none;
}

.input-default::placeholder {
  color: #c5a25d;
}

input:focus {outline: 2px solid var(--azure);}

/* Remove number input up & down button */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Custom scrollbar style */
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: transparent;}

::-webkit-scrollbar-thumb{
  background: hsl(0, 0%, 80%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{background: hsl(0, 0%, 70%);}


/* Main style */
.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F0E4;
}

.heading {
  /* font-size: var(--fs-28);
  font-weight: var(--fw-6);
  color: var(--onyx);
  border-bottom: 1px solid var(--gainsboro);
  padding: 20px var(--px);
  display: flex;
  align-items: center;
  gap: 20px; */
  display: block;
  vertical-align: middle;
  height: 100px;
  max-width: 100%;
}

.heading ion-icon { font-size: 40px;}

.item-flex {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Checkout section style */

.checkout {
  width: 70%;
  padding: 40px var(--px);
  background: #FEFBF4;
  border-right: 1px solid var(--gainsboro);
}

.section-heading {
  color: var(--onyx);
  margin-bottom: 30px;
  font-size: var(--fs-24);
  font-weight: var(--fw-5);
}

.payment-form {margin-bottom: 40px;}

.payment-method {
  display: flex;
  /* align-items: center; */
  gap: 30px;
  margin-bottom: 40px;
  flex-direction: column;
}

.payment-method .option1,
.payment-method .option2{
  border: 1px solid var(--quick-sliver);
  background-color: #EDE0CC;
  border-radius: var(--radius);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  gap: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.option1:hover, .option2:hover {
  background-color: #f0f0f0;
}


.method {
  margin-right: 100px;
  display: block;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}


.payment-method .selected { border-color: var(--azure);}

.payment-form .method ion-icon {font-size: 20px;}

.payment-method .method .checkmark {
  margin-left: auto;
  color: var(--quick-sliver);
}

.payment-method .method .fill { color: var(--azure);}

.label-default {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: var(--fs-14);
  color: var(--spanish-gray);
}

.input-default {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  background-color: #FEFBF4;
}

.input-default:focus {
  outline: none;  
}

.payment-form .input {
  padding: 10px 15px;
  font-size: var(--fs-18);
  font-weight: var(--fw-5);
}

.input-flex .select-flex{
  display: flex;
  align-items: center;
  gap: 30px;
}

.select-flex{
  justify-content: space-between;
}

.select-flex #city{
  border: none;
  border-radius: 4px;
  background: #EDE0CC;
  outline: none;
  width: 150px;
  height: 35px;
}

.select-flex #district{
  border: none;
  border-radius: 4px;
  background: #EDE0CC;
  outline: none;
  width: 150px;
  height: 35px;
}

.select-flex #ward{
  border: none;
  border-radius: 4px;
  background: #EDE0CC;
  outline: none;
  width: 150px;
  height: 35px;
}



.btn { border-radius: var(--radius);}

.btn:active { transform: scale(0.99);}

.btn:focus {
  color: var(--white);
  background: var(--azure);
  outline: 2px solid var(--azure);
  outline-offset: 2px;
}

.btn-primary {
  background: var(--azure);
  font-weight: var(--fw-5);
  color: var(--white);
  padding: 13px 45px;
}

.btn-primary b {margin-right: 10px;}

/* Cart section style */

.cart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #FEFBF4;
}

.cart-item-box {
  padding: 40px var(--px);
  margin-bottom: auto;
}

.product-card:not(:last-child) {margin-bottom: 20px;}

.product-card .card {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr; /* Hai cột, cột đầu tiên tự động co giãn, cột thứ hai chiếm phần còn lại */
  gap: 10px;
  align-items: flex-start;
  gap: 20px;
}


.card .product-img { border-radius: var(--radius);}

.product-card .img-box {
  width: 50px;
}

.card .detail .product-name {
  font-weight: var(--fw-6);
  font-size: var(--fs-15);
  color: var(--dim-gray);
  margin-bottom: 10px;
}

.card .detail .wrapper {
  display: flex;
  gap: 200px;
}


.product-qty {
  display: flex;
  align-items: center;
  gap: 10px;
}   

.product-qty button {
  background: var(--platinum);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-qty button:active,
.product-close-btn:active ion-icon {transform: scale(0.95);}

.product-qty button ion-icon {
  --ionicon-stroke-width: 60px;
  font-size: 10px;
}

.product-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.product-close-btn ion-icon {
  font-size: 25px;
  color: var(--quick-sliver);
}

.product-close-btn:hover ion-icon {color: var(--red-salsa);}

.discount-token {
  padding: 40px var(--px);
  border-top: 1px solid var(--gainsboro);
  border-bottom: 1px solid var(--gainsboro);
}

.wrapper-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.wrapper-flex input {
  padding: 12px 15px;
  font-weight: var(--fw-6);
  letter-spacing: 2px;
}

.btn-outline {
  padding: 10px 25px;
  border: 1px solid var(--azure);
  color: var(--azure);
}

.btn-outline:hover {
  background: var(--azure);
  color: var(--white);
}

.amount {padding: 40px var(--px);}

.amount > div {
  display: flex;
  justify-content: space-between;
}

.amount > div:not(:last-child) {margin-bottom: 10px;}

.amount .total {
  font-size: var(--fs-18);
  font-weight: var(--fw-7);
  color: var(--onyx);
}

/* Responsive */
@media (max-width: 1200px) {
  .item-flex { flex-direction: column-reverse;}
  /* Checkout section responsive */
  .checkout {
      width: 100%;
      border-right: none;
  }
  .btn-primary { width: 100%;}
  .payment {
    background-color: #f8f0e5;
    height: 100%;
    width: 100%;
    display: flex;

  }
  /* Cart section responsive */
  .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
  }

  .cart .wrapper { margin-top: auto;}

  .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
  }

  .discount-token {border-top: none;}
}

@media (max-width: 1024px) {  
  :root { --px : 40px;}

  .provisional-card {
      grid-template-columns: 1fr;
      
  }

  #information {
    display: flex;
    flex-direction: column;
  }


  .infor-payment{
    height: 100%;
    width: 100%;
  }

  .infor-product-payment {
    width: 100%;
    height: 100%;
  }
  .provisional {border-top: 1px solid var(--gainsboro); }

  .wrapper-flex { gap: 20px;}

  .input-flex .select-flex {
      /* flex-direction: column;  */
      gap: 15px; /* Reduce the gap between select boxes */
  }
  .select-flex select {
      max-width: none; /* Remove the maximum width on smaller screens */
  }
}

@media (max-width: 567px) { 

  .payment {
    padding: 0;
  }

  .payment-method {
      flex-direction: column;
      gap: 20px;
  }

  
  .payment-method .method {width: 100%;}
  .input-flex .select-flex {
 /* Stack the select boxes vertically on smaller screens */
      gap: 15px; /* Reduce the gap between select boxes */
  }

  #information {
      gap: 0;
  }

  .select-flex select {
      max-width: none; /* Remove the maximum width on smaller screens */
  }
}








