@import url("style.css");
*{
    padding: 0;
    margin: 0;
}

.mySlides {
  display: none;
}

.img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(192, 192, 192, 0.615);
}

  /* Caption text */
.slide-text h4{
    font-size: 30px;
    font-weight: 400;
    line-height: 23px;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 150px;
    padding-left: 50px;
}
.slide-text h1 {
  font-family: Vollkorn;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;
  width: 500px;
  padding-left: 50px;
}
.slide-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-left: 50px;
}
.press-btn {
  padding-left: 50px;
  padding-bottom: 50px;
}
.press-btn a {
  width: 400px;
  height: 70px;
  text-align: left;
  line-height: 50px;
}
.press-btn .btn i {
  margin-left: 200px; /* Tạo khoảng cách giữa nút và biểu tượng */
}
.press-btn .btn i {
  transition: all 0.3s; /* Tạo hiệu ứng chuyển động màu và vị trí */
}
.press-btn .btn:hover i {
  color: rgba(0, 0, 0, 0.137); /* Thay đổi màu của biểu tượng khi hover */
  transform: translateX(5px); /* Dịch chuyển biểu tượng sang phải khi hover */
}
video::-webkit-media-controls {
  display: none;
}

.marquee-container {
  width: 100%;
  height: 150px;
  background-color: #fbfaf1;
  color: #1e1e1b;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  font-size: 70px;
  font-weight: bold;
  /* font-family: Nunito; */
  padding-top: 15px;
}


/* Show Product */
.product-container {
    background: #fefbf4;
    /* padding: 10px 0; */
    margin: 5px;
}


.product--text {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product--text h1 {
    font-size: 80px;
    font-family: 'Vollkorn', sans-serif;
    padding: 2rem;
}

.product--image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.product--image img {
    width: 100%;
    height: 100%;
}

.product--detail {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Vollkorn', sans-serif;

}

.product--detail p {
 padding: 10px 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.product--detail a button {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background: transparent;
    right: 100px;
    position: relative;
}


/* Show Product */
.product-container {
    background: #fefbf4;
    padding: 10px 0;
}


.product--text {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product--text h1 {
    font-size: 80px;
    font-family: 'Vollkorn', sans-serif;
    padding: 2rem;
}

.product--image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.product--image img {
    width: 100%;
    height: 100%;
}

.product--detail {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Vollkorn', sans-serif;

}

.product--detail p {
 padding: 10px 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.product--detail a button {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
    background: transparent;
    right: 100px;
    position: relative;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee span {
  display: inline-block;
  padding-right: 100%; /* Điều này đẩy các phần tử chữ đến phía bên phải */
  animation: marquee 20s linear infinite; /* Thời gian và kiểu animation tùy ý */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bg-brand {
  position: relative; /* Để có thể định vị các phần tử con dựa trên phần tử này */
}
.brand-box {
  position: absolute; /* Để đặt nội dung lên trên hình */
  background-color: #fbfbf3;
  top: 50%;
  left: 50%;
  width: 600px; /* Đặt kích thước của hộp */
  height: 430px; /* Đặt kích thước của hộp */
  color: #1e1d16; /* Màu chữ trong hộp */
  text-align: center;
  padding: 20px; /* Đặt khoảng cách trong hộp */
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.brand-box h1 {
  font-family: Vollkorn;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;
  width: 500px;
  padding-left: 50px;
  padding-top: 10px;
  font-style: italic;
}
.brand-box p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-left: 50px;
  color: #aeada9;
}
.brand-box .press-btn {
  padding-right: 30px;
  padding-top: 20px;
}

.brands-container {
  text-align: center;
}
.brands-container row {
  justify-content: center;
}
.brands--container .brands--items {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
.brands--container h3 {
  font-size: 33px;
  text-align: center;
  font-family: "Vollkorn", serif;
}
.brands--container p {
  font-size: 19px;
  color: #76736f;
  text-align: center;
  margin: 40px 20px;
  font-family: "Vollkorn", serif;
  font-weight: 300;
}
.brands--container img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

#product {
  width: 396px;
}
.title h3 {
  font-style: italic;
  font-size: 5.5rem;
  line-height: 4.5rem;
  font-family: Times New Roman;
  /* width: 190px; */
}
.title h4 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-family: Barlow Condensed;
  font-weight: 600;
  /* width: 402px; */
}
.title p {
  font-family: Nunito;
  width: 402px;
  padding-right: 1.875rem;
}
.slide-container .title {
  flex-direction: row;
  padding: 100px;
  line-height: 24px;
  width: 532px;
  height: 300px;
  padding: 0% 50px 70px 50px;
  font-family: Nunito;
  grid-area: auto;
  position: relative;
}

.brand--row {
  background-color: #fefbf4;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
@media only screen and (max-width: 820px) {
  .main-menu-left {
    display: none;
  }
  .toggle_btn {
    display: block;
    margin-right: 200px;
  }
  .dropdown_menu {
    display: block;
  }
  .main-menu-center img {
    width: 80%;
    height: 80%;
    margin-top: 5px;
  }
  .main-menu-right {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .slide-text h4 {
    padding-top: 70px;
    padding-left: 50px;
  }
  .slide-text h1 {
    padding-bottom: 20px;
    width: 500px;
    padding-left: 50px;
  }
  .slide-text p {
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 50px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .slide-container .title {
    top: 0;
    float: none;
    width: 90vh;
    padding: 0 0 0 20px;
    height: 100px;
  }
  .slide-container .title p {
    width: fit-content;
  }
  .slide-container .title .intro {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    font-size: 24px;
  }
  .slide-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .slide-container .title h3 {
    width: fit-content;
  }


    .product--text,
    .product--detail {
      order: 1; /* Swap the order */
    }

    .product--text h1 {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product--image img {
        width: 50%;
        height: 50%;
    }

    .product--detail p {
        padding: 0 25%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product--detail a button{
        width: 80px;
        font-size: 20px;
        right: 0;
    }


    .product--text,
    .product--detail {
      order: 1; /* Swap the order */
    }

    .product--text h1 {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product--image img {
        width: 50%;
        height: 50%;
    }

    .product--detail p {
        padding: 0 25%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product--detail a button{
        width: 80px;
        font-size: 20px;
        right: 0;
    }

    .brand-box {
        position: absolute; /* Để đặt nội dung lên trên hình */
        background-color: #FBFBF3;
        top: 50px;
        left: 200px;
        width: 400px; /* Đặt kích thước của hộp */
        height: 230px; /* Đặt kích thước của hộp */
        color: #1E1D16; /* Màu chữ trong hộp */
        text-align: center;
        padding: 20px; /* Đặt khoảng cách trong hộp */
        border-radius: 10px;
    }
    .brand-box h1{
        width: 300px;
        height: 50px;
        padding: 0;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .brand-box p{
        width: 330px;
        height: 250px;
        font-size: 10px;
        font-weight: 400;
        padding: 0;
        padding-bottom: 20px;
        margin: 0 auto;
        color: #AEADA9;
    }
    .press-btn{
        display: none;
    }
    .brands--container .brand--row {
        display: flex;
        flex-direction: column;
        margin: none;
    }
    .brands--container p {
        width: 100%;
        text-align: center;
        margin: 10px 10px 10px 0px;
    }
}

/* Điện thoại di động */
@media only screen and (max-width: 760px) {
  .main-menu-left {
    display: none;
  }
  .toggle_btn {
    display: block;
    margin-right: 200px;
  }
  .dropdown_menu {
    display: block;
  }
  .main-menu-center img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  .main-menu-right {
    margin-top: 20px;
    font-size: 0.5rem;
  }
  .slide-text h4 {
    padding-top: 70px;
    padding-left: 50px;
  }
  .slide-text h1 {
    padding-bottom: 20px;
    width: 435px;
    padding-left: 50px;
  }
  .slide-text p {
    word-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 50px;
  }
  .slide-content {
    margin: 0 10px;
  }
  .title {
    padding: 10%;
  }
  .swiper-navBtn {
    display: none;
  }
  .brands--container .brand--row {
    display: flex;
    flex-direction: column;
    margin: none;
  }
  .brands--container p {
    width: 100%;
    text-align: center;
    margin: 10px 10px 10px 0px;
  }
}

@media only screen and (max-width: 480px) {
  .slide-text h1 {
    width: 250px;
    padding-left: 15px;
  }
}

/* slider */
.recomemnt {
  display: flex;
  width: 100%;
  height: 100%;
}

.my-alert h3 {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 400;
  font-size: 5rem;
  line-height: 4.5rem;
}

.my-alert h3 span {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-family: "Barlow Condensed";
}

.my-alert p {
  color: rgba(118, 115, 111, 1);
}

div.my-alert {
  width: 35%;
  background-color: #fefbf4;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 50px 30px 100px 50px;
}

.my-alert-1 h3 {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 400;
  font-size: 5rem;
  line-height: 4.5rem;
}

.my-alert-1 h3 span {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-family: "Barlow Condensed";
}

.my-alert-1 p {
  color: rgba(118, 115, 111, 1);
}

div.my-alert-1 {
  width: 35%;
  background-color: #fefbf4;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 50px 30px 100px 50px;
}

.slider-product {
  position: relative;
  width: 65%;
  background-color: #fefbf4;
}

.slider-content {
  padding-right: 30px;
}

.slider-content img {
  width: 100%;
  border-radius: 5px;
}

.slider-content a img:hover {
  opacity: 0.8;
  animation: fadeOut 0.5s ease-out 0.2s forwards;
}
@keyframes fadeOut {
  to {
      opacity: 1; /* Trở lại giá trị opacity 1 */
  }
}

.slick-list {
  padding: 0 10% 0 0 !important;
}

.slider-product:hover .slick-custom-arrow-prev {
  opacity: 1;
  transform: scaleX(1) translate(0, -50%);
  width: 50px;
  border-radius: 5px;
}

.slider-product:hover .slick-custom-arrow-next {
  opacity: 1;
  transform: scaleX(1) translate(0, -50%);
  width: 50px;
  border-radius: 5px;
}

.slick-custom-arrow-prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  background: black;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: white;
  opacity: 0;
  cursor: pointer;
  transform-origin: left center;
  transform: scaleX(0) translate(0, -50%);
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.slick-custom-arrow-next {
  position: absolute;
  top: 40%;
  right: 0;
  width: 50px;
  height: 50px;
  background: black;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  color: white;
  opacity: 0;
  cursor: pointer;
  transform-origin: right center;
  transform: scaleX(0) translate(0, -50%);
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.slide-info {
  display: flex;
}

.infor-text {
  width: 70%;
  padding-top: 20px;
  padding-left: 10px;
}

.infor-text a h6{
  color: #333;
}

.infor-text a {
  text-decoration: none;
}

.infor-text .text-amount {
  margin-bottom: 40px;
}

.infor-btn {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.progress-bar-custom {
  width: 100%;
  height: 2px;
  background-color: rgba(237, 224, 204, 1);
  position: absolute;
  bottom: 0;
}

.progress-bar-inner-custom {
  height: 100%;
  width: 0;
  background-color: rgba(31, 28, 23, 1);
  transition: transform 0.5s ease;
}

.btn-add-card{
  border: none;
  font-size: 16px;
  color: #333;
  background-color: #ede0cc;
  border-radius: 6px;
  margin: 14px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 70px;
  width: 70px;
}

.btn-add-card:hover{
  background-color: #1F1C17;
  color: white
}

.btn-add-card i{
  font-size: 25px;
  transition: all 0.3s ease;
}

.card-image-1{
  object-fit: contain;
  height: 100%;
  width: 100%;
  /* margin: 100px 0 100px 0; */
  padding: 100px 0;
  border: none;
  background-color: #fefbf4;
}

.card-image-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image-2{
  object-fit: contain;
  height: 100%;
  width: 100%;
  /* margin: 100px 0 100px 0; */
  padding: 120px 100px 120px 100px;
  border: none;
  background-color: #fefbf4;
}

.card-image-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slider-content-1 img{
  /* height: 664px;
  width: 542px; */
  height: 100%;
  width: 90%;
  font-size: 20px;
  border-radius: 6px;
}

.infor-text-1 h6{
  font-size: 25px;
  padding: 30px 0 30px 0;
}

.slide-info-1{
  width: 90%;
  display: flex;
  justify-content: center;
}

.your-class-1{
  object-fit: cover;
}


@media only screen and (max-width: 1320px) {
  .my-alert h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  div.my-alert {
    width: 35%;
  }

  .my-alert-1 h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  div.my-alert-1 {
    width: 35%;
  }

  .recomemnt .my-alert-1{
    order: 0;
  }

  .slider-product {
    width: 65%;
  }

  .card-image-1{
    padding: 0%;
  }

  .card-image-2{
    padding: 30px 20px 30px 20px;
  }

  /* .slide-info-1{
    max-width: 85%;  
  } */

  .slider-content-1 img{
    width: 90%;
    height: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .my-alert h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  .my-alert-1 h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  .recomemnt {
    display: flex;
    flex-direction: column;
  }

  div.my-alert {
    width: 100%;
  }

  div.my-alert-1 {
    width: 100%;
  }

  .recomemnt .my-alert-1{
    order: 0;
  }

  .slider-product {
    width: 100%;
  }

  .your-class .slider-content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .infor-text h6 {
    font-size: 14px;
  }

  .infor-text p {
    font-size: 12px;
  }

  .btn-add-card {
    width: 50px;
    height: 50px;
  }

  .btn-add-card i{
    font-size: 15px;
  }
  .card-image-1{
    padding: 0%;
  }

  .card-image-2{
    padding: 30px 20px 30px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .my-alert p {
    display: none;
  }

  div.my-alert {
    padding: 50px;
  }

  .my-alert h3 br {
    display: none;
    text-align: center;
  }

  .my-alert-1 p {
    display: none;
  }

  div.my-alert-1 {
    padding: 50px;
  }

  .my-alert-1 h3 br {
    display: none;
    text-align: center;
  }

  .recomemnt .my-alert-1{
    order: 0;
  }

  .your-class .slider-content {
    padding-right: 10px;
  }

  .btn-add-card i{
    font-size: 15px;
  }

  .card-image-1{
    padding: 0%;
  }

  .card-image-2{
    padding: 30px 20px 30px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .infor-text h6 {
    font-size: 15px;
  }

  .infor-text p {
    font-size: 14px;
  }

  .btn-add-card {
    width: 50px;
    height: 50px;
  }
  .infor-btn {
    justify-content: center;
  }

  .slick-list {
    padding: 0 0 0 0 !important;
  }

  .your-class .slider-content {
    padding-right: 20px;
    padding-left: 20px;
  }

  .slider-product {
    padding-left: 0;
  }

  .btn-add-card i{
    font-size: 15px;
  }
  
  .card-image-1{
    padding: 0%;
  }

  .card-image-2{
    padding: 30px 20px 30px 20px;
  }

  .slider-content-1 img{
    height: 100%;
    width: 100%;
  }
}
