@import url("style.css");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fefbf4;
}

a{
    text-decoration: none;

}

p{
    font-family: 'Nunito', sans-serif;
}

#testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    margin: 0 0 20px 0;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    background-color: #f7efe2;
    width: 100%;
}

.banner-review-section {
    position: relative;
    height: 452px;
    width: 100%;
}

.body-review-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.body-review-section .header-section {
    font-size: 80px;
    color: #1f1c17;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    height: 90px;
}


.body-review-section .button-review-section {
    width: 250px;
    height: 70px;
    background-color: #1f1c17;
    border-radius: 5px;
    border-style: none;
    color: #f7efe2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    margin: 60px 0 60px 0;
}

.testimonial-box{
    width:500px;
    border-radius: 10px;
    background-color: #fefbf4;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-family: 'Barlow Condensed', sans-serif;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
    font-family: 'Nunito', sans-serif;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}


.banner-add-review-body{
    display: flex;
    justify-content: space-around;
}

.review-input {
    background-color: #fefbf4;
    border: 1px solid #ccb48f;
    color: #ccb48f;
    outline: none;
    height: 70px;
    width: 710px;
    margin-right: 20px;
    border-radius: 5px;
    padding-left: 20px;
}

.banner-add-review h6 {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'Barlow Condensed', sans-serif;
}

.review-input::placeholder {
    color: #ccb48f;
    font-family: 'Nunito', sans-serif;
    transition: color 0.3s;
  }

.banner-add-review-body .button-review-section {
    max-width: 250px;
    height: 70px;
    padding: 0 50px;
    background-color: #1f1c17;
    border-radius: 5px;
    border-style: none;
    color: #f7efe2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.button-review-section:hover {
    background-color: #42403c; /* Màu nền khi hover */
  }  
 
@media(max-width:1060px){
    .testimonial-box{
        max-width: 45%;
        padding: 10px;
    }
}
@media(max-width:769px){
    .body-review-section .header-section{
        max-width: 100%;
        font-size: 70px;
        height: 70px;
    }
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .testimonial-box{
        max-width: 100%;
        padding: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
    .banner-add-review{
        margin: 0 15px;
    }
    .banner-add-review-body{
        display: block !important;
    }
    .review-input{
        max-width: 728px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .banner-add-review-body .button-review-section{
        max-width: 728px;
    }
}
@media screen and (max-width:415px){
    .body-review-section .header-section{
        max-width: 100%;
        font-size: 60px;
        height: 60px;
    }
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
    .banner-add-review{
        margin: 0 15px;
    }
    .banner-add-review-body{
        display: block !important;
    }
    .review-input{
        max-width: 374px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .review-input::placeholder{
        color: white;
    }
    .banner-add-review-body .button-review-section{
        max-width: 374px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}