@import url("style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #fefbf4;
}

input,
select {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  position: relative;
  flex-direction: column;
}

.profile-container span {
  align-items: center;
  border-radius: 6px 6px 0 0;
  font-weight: 700;
  line-height: 22px;
  padding: 15px 30px 13px;
  text-decoration: none;
  color: #414548;
}

.top-profile {
  position: relative;
  height: 86px;
  align-items: center;
  display: flex;
  padding: 0 110px;
}

.top-profile .top-name {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  color: #1f1c17;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 28px;
  text-transform: uppercase;
}

.profile-main,
.history-main {
  height: 860px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  grid-area: auto;
  justify-content: space-between;
  margin: 22px 0 0;
  padding: 0 110px;
}

.profile-main .profile-tab,
.history-main .history-tab {
  position: relative;
  display: flex;
  grid-area: auto;
}

.profile-main .profile-tab span,
.history-main .history-tab span {
  background: #f7f0e4;
}
.profile-main .profile-content,
.history-main .history-content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 60px;
  background: #f7f0e4;
}

.profile-content h1,
.history-content h1 {
  color: #1f1c17;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 5px;
  font-size: 20px;
}

.info--content {
  display: flex;
  width: 100%;
}

.input--field {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.input--field div {
  width: 100%;
}

.input--field div div {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  gap: 20px;
}

.left--input--field {
  width: 70%;
}

.right--input--field {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--field {
  color: #c6a76e;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
}

.password--change a {
  text-decoration: none;
}

.password--change a div {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  font-size: 18px;
  background: #ead6b3;
  color: #1f1c17;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal--user {
  display: flex;
  flex-direction: column;
}

.user-profile input,
.user-profile select {
  border: none;
  color: #43505c;
  background-color: transparent;
}

.submit--button {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.submit--button button {
  width: 15%;
  height: 100%;
  background: #ead6b3;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
  border: none;
  font-family: 'Nunito',sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.submit--button button:hover {
  background: rgba(0, 0, 0, 0.137);
  border: none;
}

.submit--button button span {
  color: black;
}

.image--field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image--box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.image--box img {
  box-sizing: border-box;
  margin: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.375rem;
  object-fit: cover;

}

.image--field label {
  width: 100%;
  height: 30px;
  background: #ead6b3;
  color: #1f1c17;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.2s ease-in;
}

.image--field label:hover {
  background: rgba(0, 0, 0, 0.137);
  border: none;
}

.image--field input {
  display: none;
}

@media (max-width: 1024px) {
  .top-profile,
  .profile-main,
  .history-main {
    padding: 0 50px;
  }
  .submit--button button {
    width: 20%;
  }

  .info--content {
    gap: 10px;
  }
}

@media (max-width: 870px) {
  .top-profile,
  .profile-main,
  .history-main {
    padding: 0 20px;
    margin-top: 10px;
  }

  .profile-main .profile-content,
  .history-main .history-content {
    padding: 15px 20px 30px;
  }

  .profile-main .profile-tab .user-profile-tab,
  .history-main .history-tab .user-history-tab{
    padding: 15px;
  }

  .info--content {
    flex-direction: column;
  }

  .left--input--field {
    width: 100%;
  }

  .right--input--field {
    width: 100%;
  }

  .submit--button button {
    width: 40%;
  }
}

@media (max-width: 570px) {
.input--field {
  flex-direction: column;
}

.submit--button button {
  width: 50%;
}

.image--field label {
  width: 80%;
  height: 120%;
}

.image--field label span {
  display: flex;
  justify-content: center;
}
}