@import url("header.css");
* {
  padding: 0;
  margin: 0;
}

.announcement {
  width: 100%;
  height: 100%;
  background-color: #1c1c14;
}
.announcement p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  margin-top: 10px;
  background-color: #1c1c14;
}
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Change this to your desired background color */
  /* Add other styles like padding, box-shadow, etc. */
}
.sticky {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Change this to match your navbar's style */
    /* Add other styles like padding, box-shadow, etc. */
  }
}
.toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.main-menu {
  width: 100%;
  height: 100%;
  background-color: #fff9f0;
}
.main-menu-left {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.main-menu-left li {
  list-style: none;
  padding: 10px;
}
.main-menu-left li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: #2d2f30;
  transition: 0.3s ease;
}
.main-menu-left li a:active,
a:hover {
  color: #2d2f303f;
  transition: 0.5s;
}

/* .main-menu-center {
  display: flex;
  justify-content: center;
}
.main-menu-center img {
  width: 65%;
  height: 65%;
} */

.main-menu-right {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.main-menu-right li {
  list-style: none;
  padding: 10px 0 10px 10px;
}
.main-menu-right li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  color: #2d2f30;
  transition: 0.3s ease;
}
.main-menu-right li a:hover {
  color: #2d2f30;
}

#dropdown_menu {
  position: absolute;
  top: 115px;
  width: 300px;
  height: 350px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 0 10px 10px 0;
  overflow: hidden;

  display: none;
  z-index: 1;
}
#dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
}
#dropdown_menu a {
  text-decoration: none;
  color: #1c1c14;
  font-size: 1.1rem;
  font-weight: 600;
}
#dropdown_menu a:hover {
  color: #2d2f30;
  text-decoration: underline;
}
#dropdown_menu.open {
  /* height: 240px; */
  width: 300px;
  display: block;
}
/* Initially hide the sub-menu */
.sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1; /* Ensure it appears above other content */
  /* background-color: #fefbf4; Set the background color to white */
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 40px;
  border-radius: 10px; /* Add a left margin for spacing */
}

/* Style the individual sub-menu items */
.sub-menu li {
  padding: 4px 0;
}

/* Style the links inside the sub-menu */
.sub-menu a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 4px 16px;
}
.sub-menu a:hover {
  background-color: #ccc; /* Set the background color to black */
  color: #fff; /* Set the text color to white */
}
/* Show the sub-menu when hovering over user-change */
#user-change:hover .sub-menu {
  display: block;
}

.products-payment {
  padding: 20px 30px 15px 20px;
}
.product-payment {
  height: 112px;
  display: flex;
  border-bottom: 1px solid rgba(237, 224, 204, 1);
  margin-bottom: 10px;
}
.item-img {
  width: 20%;
  padding-right: 10px;
}
/* .product-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.infor-payment {
  background-color: #fefbf4;
  width: 55%;
  padding: 25px 25px 25px 25px;
  height: 500px;
}
.infor-product-payment {
  width: 45%;
  background-color: #fefbf4;
  border-radius: 7px 7px 0 0;
  height: fit-content;
}
.infor-payment h4 {
  padding-left: 20px;
  font-family: "Nunito";
}
.infor-product-payment h4 {
  padding-left: 20px;
  font-family: "Nunito";
}
.quantity {
  display: flex;
}
.quantity-text {
  width: 64px;
  height: 32px;
  border-top: 1px solid rgba(237, 224, 204, 1);
  border-bottom: 1px solid rgba(237, 224, 204, 1);
  text-align: center;
  line-height: 28px;
}
.btn-quantity {
  outline: none;
  border: 1px solid rgba(237, 224, 204, 1);
  width: 32px;
  height: 32px;
  background-color: transparent;
}
.quantity-price {
  display: flex;
  justify-content: space-between;
}
.remove-product {
  padding-top: 20px;
}

hr {
  margin: 0 30px 0 15px !important;
  color: rgba(237, 224, 204, 1) !important;
  opacity: 1 !important;
}

.order {
  padding: 20px 30px 20px 15px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 7px 7px;
}
.total p {
  font-family: "Nunito";
  margin-bottom: 0;
}
.total span {
  font-family: "Nunito";
  font-size: 1.875rem;
}
.btn-order {
  width: 200px;
  height: 75px;
  border-radius: 5px;
  border: 1px solid #e4d1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* CSS nền hiển thị Modal */
.ngoaicung .ngoaicung2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

/* CSS bảng nội dung Modal */
.ngoaicung .ngoaicung3 {
  padding: 25px 25px 10 25px;
  position: fixed;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 2;
  top: 0;
  padding: 10px;
  text-align: center;
  overflow: auto;
  right: -50%;
  border-radius: 10px;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease-in-out;
}

.order {
}

.order a {
  color: white;
  text-decoration: none;
}

@media (max-width: 700px) {
  .ngoaicung .ngoaicung3 {
    width: 100%;
  }
}
/* CSS bao bọc của nút tắt Modal */
.ngoaicung .close {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* CSS tieu de của Modal */
.tieude {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.ngoaicung.active body {
  overflow: hidden;
}
.ngoaicung:not(.active) body {
  overflow: auto;
}

/* CSS nút tắt modal */
.close button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  padding: 0px;
  border: none;
  background-color: #fefbf4;
}

.ngoaicung.active .ngoaicung2 {
  display: block;
}
/* CSS hiệu ứng hiển thị Modal */
.ngoaicung.active .ngoaicung3 {
  transition: all 400ms ease-in-out;
  transform: translate(-100%) scale(0.92);
}

.message {
  color: #ccb48f;
  font-size: 18px;
  grid-area: auto;
  line-height: 28px;
  margin: 30px 0px 0px;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}
.oopss {
  color: #1d1a15;
  font-size: 18px;
  grid-area: auto;
  line-height: 28px;
  margin: 30px 0px 0px;
  text-align: center;
}

.button.button-small {
  height: 3.75rem;
  width: 140px;
  padding: 1.375rem 1.0625rem;
  border-radius: 4px;
  font-size: 1rem;
}

.button.button-small {
  height: 1px;
  border-radius: 4px;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
}

.button.button-dark {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 28, 23, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(254, 251, 244, var(--tw-text-opacity));
}

.button {
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 300ms;
  cursor: pointer;
}

.mt-6 {
  margin-top: 3.75rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}
