<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exacly Cosmetic</title>
    <link rel="stylesheet" type="text/css" href="/footer/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <footer class="footer">
    <div class="footer--container">
      <div class="footer--picture">
        <img src="/footer-img.jpg" alt="Footer--Img" />
      </div>
      <div class="footer--content">
        
        <div class="footer--row">
          <div class="footer--col">
            <h4 class="footer-titlte">Brands</h4>
            <ul>
              <li><a href="">Brands 1</a></li>
              <li><a href="">Brands 2</a></li>
              <li><a href="">Brands 3</a></li>
              <li><a href="">Brands 4</a></li>
            </ul>
          </div>

          <div class="footer--col">
            <h4 class="footer-titlte">Get help</h4>
            <ul>
              <li><a href="">FAQ</a></li>
              <li><a href="">Returns</a></li>
              <li><a href="">Shipping</a></li>
              <li><a href="">Order Status</a></li>
              <li><a href="">Payment Options</a></li>
            </ul>
          </div>
          </div> 
        <div class="footer--row">
          <div class="footer--col">
            <h4 class="footer-titlte">Categories</h4>
            <ul>
              <li><a href="">Watch</a></li>
              <li><a href="">Bag</a></li>
              <li><a href="">Shoes</a></li>
              <li><a href="">Dress</a></li>
            </ul>
          </div>


          <div class="footer--col">
            <h4 class="footer-titlte">Follow Us</h4>
            <div class="social-links">
              <a href=""><i class="fab fa-facebook-f"></i><p>Facebook</p></a>
              <a href=""><i class="fab fa-twitter"></i>Twitter</a>
              <a href=""><i class="fab fa-instagram"></i>Instagram</a>
              <a href=""><i class="fab fa-linkedin"></i>Linkedin</a>
            </div>
          </div>
        </div>
        <div class="footer--copy">
          <div class="footer--intro">
              <h1>Đăng ký để nhận thông tin khuyến mãi sớm nhất từ Cocoon</h1>
              <label class="intro--email" for="email-input">Nhập địa chỉ email</label>
              <input type="text" id="email-input" placeholder="">
              <label class="intro--regis">Đăng ký để nhận thông tin liên lạc về các sản phẩm, dịch vụ, cửa hàng, sự kiện và các vấn đề đáng quan tâm của Cocoon.</label>
          </div>
          <div class="footer--address">
              <div class="store--address">
                  <h4 class="intro--address">Cocoon - Tự hào mỹ phẩm Việt</h4>
                  <p>Mỹ phẩm thuần chay cho nét đẹp thuần Việt
                  </p>
                  <h4 class="intro--company">Product Philosophy</h4>
                  <p>Là những người yêu thiên nhiên và đam mê khám phá các nguồn nguyên liệu đặc hữu của Việt Nam, chúng tôi luôn kiên định
                      với những triết lý trên hành trình tìm vẻ đẹp thật sự của làn da.</p>
              </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <script src="/script.js"></script>
  </footer>
</html>
